In [1]:
import pandas as pd

In [4]:
weather = pd.read_csv('data/tokyo-weather-darksky.csv')

In [5]:
weather.head()

,apparentTemperature,cloudCover,dewPoint,humidity,icon,precipIntensity,precipProbability,pressure,summary,temperature,utc_time,uvIndex,visibility,windBearing,windGust,windSpeed,lat,lon,precipType,human_time
0,55.65,0.75,50.33,0.82,partly-cloudy-night,0.0,0.0,1007.69,Mostly Cloudy,55.65,1460300400,0,7.00,29,12.01,3.85,35.630294,139.627664,NaN,2016-04-11 00:00:00+09:00
1,54.71,0.75,49.04,0.81,partly-cloudy-night,0.0,0.0,1007.10,Mostly Cloudy,54.71,1460304000,0,7.00,22,19.04,7.77,35.630294,139.627664,NaN,2016-04-11 01:00:00+09:00
2,53.28,0.84,47.74,0.81,partly-cloudy-night,0.0,0.0,1006.67,Mostly Cloudy,53.28,1460307600,0,7.62,21,8.95,8.33,35.630294,139.627664,NaN,2016-04-11 02:00:00+09:00
3,52.91,0.88,46.99,0.80,partly-cloudy-night,0.0,0.0,1006.65,Mostly Cloudy,52.91,1460311200,0,6.88,10,7.20,6.25,35.630294,139.627664,NaN,2016-04-11 03:00:00+09:00
4,52.54,0.75,46.66,0.80,partly-cloudy-night,0.0,0.0,1006.85,Mostly Cloudy,52.54,1460314800,0,6.22,12,5.78,5.33,35.630294,139.627664,NaN,2016-04-11 04:00:00+09:00

In [6]:
tweets = pd.read_csv('data/tokyo-200k-tweets-followthehashtag.csv')

In [9]:
weather.lat.nunique()

3

In [10]:
weather.lon.nunique()

3

In [7]:
tweets.head()

,Tweet Id,Date,Hour,User Name,Nickname,Bio,Tweet content,Favs,RTs,Latitude,Longitude,Country,Place (as appears on Bio),Profile picture,Followers,Following,Listed,Tweet language (ISO 639-1),Tweet Url
0,723211537964388352,2016-04-21,18:07,しぶや花魁 shibuya OIRAN,oiran_shibuya,Warmup Bar＆Restaurant. 18時-Late \n道玄坂2-22-6 TE...,RT @pstlm: I'm at しぶや 花魁 @OIRAN_shibuya in 渋谷区...,NaN,1.0,NaN,NaN,NaN,NaN,http://pbs.twimg.com/profile_images/6291534664...,2695.0,2731.0,126.0,es,http://www.twitter.com/oiran_shibuya/status/72...
1,723211500068855809,2016-04-21,18:07,RJTY METAR,rjty_metar,Yokota Air Base,RJTY 211758Z AUTO 02004KT 5SM R18/4500FT BR OV...,NaN,NaN,35.748611,139.348611,JP,"Mizuho-machi, Tokyo",http://abs.twimg.com/sticky/default_profile_im...,57.0,1.0,8.0,es,http://www.twitter.com/rjty_metar/status/72321...
2,723211367268814848,2016-04-21,18:06,RJTT METAR,rjtt_metar,"Haneda, Tokyo Int'l Airport",RJTT 211800Z 32008KT 5000 BR FEW005 BKN007 BKN...,NaN,NaN,35.553333,139.781111,JP,"Ota-ku, Tokyo",http://pbs.twimg.com/profile_images/794981150/...,598.0,20.0,74.0,es,http://www.twitter.com/rjtt_metar/status/72321...
3,723211242366607361,2016-04-21,18:06,イッチー_ユニーク,ITTI_UNIKE,Producer / Drum'n'Bass /DJ / UNIKE / FUTURE FO...,1.8リットル空いた、、、最の高 @ 渋谷 (Shibuya) https://t.co/7...,NaN,NaN,35.659448,139.699965,JP,"Shibuya-ku, Tokyo",http://pbs.twimg.com/profile_images/3788000005...,1267.0,938.0,51.0,es,http://www.twitter.com/ITTI_UNIKE/status/72321...
4,723211239824842752,2016-04-21,18:06,大ちゃん@ 小野亜里沙渋谷DUO,daichanarisa,瀧川ありささん応援中！,@Rihwa_Park 演歌のように心に響いてくる歌詞だし、歌も届いています。,NaN,NaN,35.709270,139.716647,JP,"Shinjuku-ku, Tokyo",http://pbs.twimg.com/profile_images/5974510432...,46.0,82.0,4.0,es,http://www.twitter.com/daichanarisa/status/723...

In [2]:
wdf = pd.DataFrame({
    'day': [0, 0, 1, 1],
    'hour': [0, 1, 0, 1],
    'temp': [10, 20, 12, 22],
})

In [3]:
twt = pd.DataFrame({
    'day':  [0, 0, 0, 0, 0, 1],
    'hour': [0, 0, 1, 1, 1, 0],
})

In [12]:
from sklearn.neighbors import KNeighborsRegressor

In [15]:
X = weather[
    ['lat', 'lon', 'utc_time']
]

y = weather.apparentTemperature

In [19]:
knn = KNeighborsRegressor(
    weights='distance',
    # metric should be the radians one for lat/lon (even though the distance is not that large), and something linear for time
    n_jobs=-1,
)

In [20]:
knn.fit(X, y)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=-1, n_neighbors=5, p=2,
          weights='distance')

In [21]:
knn.predict(X[:2])

array([55.65, 54.71])

In [18]:
y[:2]

0    55.65
1    54.71
Name: apparentTemperature, dtype: float64